/* Design System */
@font-face {
  font-family: 'Deserta', 'Dreams';
  src: url("assets/fonts/deserta.otf") format("opentype"),
  url("assets/fonts/dreams.ttf") format("truetype");
}

/* Modules */
/*@import 'menu.scss';*/
@import 'home.scss';

/* Colors */
$radial-bg: radial-gradient(farthest-corner at 70% 50%,
        #2F2F31 0%,
        #141414 35%,
        #09090A 100%);
$under-title: linear-gradient(to right, #0038FF, rgba(0, 56, 255, 0.25));
$black: #000000;
$white: #FFFFFF;

/* Text configuration */
$title-font: 'Dreams';
$body-font: 'Deserta';

/*$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$thin-font-weight: 300;

$body-font-size: 1rem;
$body-highlight-font-size: 1.125rem;
$city-font-size: 1.063rem;
$title-font-size: 1.5rem;
$new-font-size: 0.875rem;*/

/* Mixin */

* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  font-family: $body-font, sans-serif;
  background: $radial-bg;
  height: auto;
}

h1 {
  font-family: $title-font;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: 1rem;
  .active {
    color: white;
    &:after {
      content: "";
      display: block;
      margin-top: 0.2rem;
      width: 70%;
      height: 0.3rem;
      background: $under-title;
      border-radius: 20%;
    }
  }
  &__link {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 3rem;
    &:hover{
      color: white;
      &:after {
        content: "";
        display: block;
        margin-top: 0.2rem;
        width: 70%;
        height: 0.3rem;
        background: $under-title;
        border-radius: 20%;
      }
    }
  }
}

